/* @@@@@@@@@@@@@@@@@@ CSS STARTING TEMPLATE @@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@   UPDATED: 4/8/2019   @@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* xi. **************         RESET         ****************** */
/* *********************************************************** */

/* v2.0 | 20110126 - MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

*, :after, :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
html {height:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
body {height: 100%; line-height: 1; margin: 0 !important;}
ol, ul {list-style: none; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0;}
table {border-collapse: collapse; border-spacing: 0;}
table, tr, td {padding: 0;}
img {display: block; border: 0; border-style: none;}
a, a:hover, a:focus, a:active, a[href^="tel"] {background-color: transparent; color: inherit; text-decoration: none; outline: 0;}

/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

.flex-full {display: flex; justify-content: center; align-items: center;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}

.flex-jc-fs {justify-content: flex-start;}
.flex-jc-fe {justify-content: flex-end;}
.flex-jc-sb {justify-content: space-between;}
.flex-jc-se {justify-content: space-evenly;}
.flex-jc-sa {justify-content: space-around;}

.flex-ai-fs {align-items: flex-start;}
.flex-ai-fe {align-items: flex-end;}

.w100 {width: 100%;}
.mt-2 {margin-top: 2rem;}
.mt-1 {margin-top: 1rem;}
.mt-05 {margin-top: 0.5rem;}

.color-5 {color: #ffb471;}
.color-3 {color: #c6587a;}
.color-lite {color: #fff;}
.color-accent {color: #12b9e0;}

/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

html {
    font-size: 14px; 
}

body {
    background-color: #242424; 
    color: #fff;
	font-family: sans-serif;
	letter-spacing: 0.25px;
}

#wrapper{
    max-width: 1000px;
    position: relative; 
	margin: 0 auto;
	padding: 2rem;
}

/* 2. ***************         MAIN          ****************** */
/* *********************************************************** */

.title {
	font-size: 4rem;
	font-weight: 600;
}

.title-pp {
	font-weight: 100; 
	font-size: 1.25rem; 
	padding-left: 0.5rem;
}

.title-bar {
	width: 200px;
	height: 5px;
	background-color: #c6587a;
	border-radius: 5px;
	margin-top: 0.25rem;
}

.subtitle {
	font-size: 2rem;
	text-align: right;
	color: #fff;
}

.content {
	padding: 4rem 2rem 2rem;
}

.phone-image {
	width: 300px;
	margin-right: 2rem;
	order: 1;
}

.phone-content {
	order: 2;
}

.phone-text {
	font-size: 1.25rem;
	line-height: 1.5;
}

.phone-span {
	font-size: 2rem;
}

/* button */

.button {
	border: none !important;
	border-style: none !important;

	font-size: 1em;
	font-weight: 600;
	background-color: #c6587a;
	color: #fff;
	border-radius: 3px;
	padding: 0.75rem 1.5rem;
	cursor: pointer !important;
	transition: 0.4s;
}

/* link */

.link,
.link:visited,
.link:active {
	font-weight: 700;
	color: #12b9e0;
	text-decoration: underline;
}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
	.link:hover {
		font-weight: 700;
		color: #12b9e0;
		text-decoration: underline;
	}
	
	.button:hover {
		background-color: #ffb471;
		color: #fff;
	}
}

@media only screen and (max-width: 599px) {
	#wrapper{
		padding: 1rem;
	}

	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	.subtitle {
		/* margin-top: 1rem;
		font-size: 1.5rem; */
		display: none;
	}

	.title-text-container {
		width: 100%;
		justify-content: space-between;
	}

	.content {
		flex-direction: column;
		padding: 2rem 0 1rem 0;
	}

	.phone-image {
		width: 100%;
		order: 2;
		margin-top: 2rem;
		margin-right: 0;
	}
	
	.phone-content {
		order: 1;
	}

	.phone-text {
		font-size: 1rem;
	}

	.phone-span {
		font-size: 1.5rem;
	}
}

